<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firstapp.madproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/frimaicon"
        android:label="FRIMA"
        android:roundIcon="@mipmap/frimaicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MADproject">
        <service android:name=".MyService"/>
        <activity
            android:name=".TermsAndConditionsActivity"
            android:exported="true" />
        <activity
            android:name=".AboutUsActivity"
            android:exported="true" />
        <activity
            android:name=".BroadCastActivity"
            android:exported="true" />
        <activity
            android:name=".loginActivity"
            android:exported="true" />
        <activity
            android:name=".DataActivity"
            android:exported="true" />
        <activity
            android:name=".ViewEmployeeActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".AirplaneModeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE"/>
            </intent-filter>

        </receiver>
    </application>

</manifest>